<section class="experience-section">
    <div class="image-wrapper">
      <img src="images/iso-logo.jpeg" alt="ISO Logo" width="427" height="291">
    </div>
    <div class="content-wrapper">
      <h2>Experience Counts!</h2>
      <p>Through our over 30 years of business we have gained the reputation of providing our customers with a product of highest quality at a very reasonable cost. We are proud to be ISO 9001:2015 certified to provide you with continuous improvement through the highest quality parts and services in northeast Iowa.</p>
      <p>Upper Iowa Tool & Die Custom Mold & Tooling is your one-stop shop for precision focused design, fabrication and production of quality plastic injection molded parts. We would love to talk to you to learn how we can help reduce your production costs while improving your efficiencies and increasing your profits!</p>
      <a class="secondary-btn" href="mailto:alex.fortune@upperiowatoolanddie.com?cc=scott.fortune@upperiowatoolanddie.com&subject=Injection Mold Inquiry&body=Tell Us About Your Project">Let's Talk</a>
    </div>
</section>

<style>
    .experience-section {
        display: flex;
        padding: 100px 40px;
        align-items: center;
        color: #212ead;
        background: #FFF none;
    }

    /* .experience-section .image-wrapper img {
        width: 427px;
        height: 291px;
    } */

    .experience-section .content-wrapper {
        margin-left: 100px;
        font-size: 18px;
        line-height: 1.4;
        text-align: center;
    }

    .experience-section .content-wrapper h2 {
        margin: 0 0 20px 0;
        margin-bottom: 20px;
        font-size: 60px;
        font-family: 'Lalezar', sans-serif;
        color: #212ead;
    }

    .experience-section .content-wrapper p {
        margin: 20px 0;
        font-size: 18px;
        font-weight: 400;
        color: #333;
    }

    .experience-section .content-wrapper a {
        display: inline-block;
        margin-top: 20px;
        padding: 10px 15px;
        font-size: 18px;
        border-radius: 6px
    }

    .secondary-btn {
        color: #212ead;
        border: 2px solid #212ead;
        transition: all 0.5s ease;
    }

    .secondary-btn:hover {
        color: #FFF;
        background-color: #212ead;
    }

    /* .secondary-btn {
        color: #01d414;
        border: 2px solid #01d414;
    } */

    @media (max-width: 1024px) {
        .experience-section {
            display: block;
            padding: 40px;
        }

        .experience-section .content-wrapper {
            margin-top: 40px;
            margin-left: 0;
        }

        .experience-section .image-wrapper {
            display: flex;
            justify-content: center;
        }
    }
</style>